<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.2.5" targetFramework="net471" />
  <package id="Nancy" version="1.4.4" targetFramework="net471" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net471" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Octokit" version="0.29.0" targetFramework="net471" />
</packages>