<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Razzie</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
	<section class="h-100 row align-items-center">
		<div class="col">
		<div class="row justify-content-center">
			<div class="col m-5 text-center">
				<h1>Hello</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-5 text-right border-right border-danger">
				<h2>Personal</h2>
				<p>My name is Gabor, but you may also know me as Razzie from the internets. I'm pretty much comfortable with both names.</p>
				<p>My friends know me as a calm and rather observing kind of person. Unless someone hits one of my favorite topics, then I become excited and competitive.</p>
				<p>Since my childhood I'm passionate about programming, especially about computer games and networks. I strive to combine the two.</p>
				<p>I love developing ideas over time and then throwing them away later. One always finds me tinkering with my latest and greatest pet project. You may find a few of them below.</p>
				<p>Psychological and emotional well-being along with self-education are crucial to me and I always find time to include them in my life. I've also took part in a 6 month Mastermind program.</p>
				<p>I value freedom and creativity over anything else in life, but comfort comes close.</p>
			</div>
			<div class="col-5 text-left border-left border-danger">
				<h2>Professional</h2>
				<p>For most of my professional career I've been working for large companies and my duties ranged from working on embedded system and desktop application to web frontend and backend development.</p>
				<p>There is also a significant amount of time I've spend working on a private project at home that was worthy of my time and savings.</p>
				<p>Based on nearly 10 years of autodidact and professional experience I consider myself an expert of modern C++.</p>
				<p>Other languages and technologies like C, C# (for both desktop apps and web), OpenGL and GLSL, PHP, HTML + CSS and Git are not new to me.</p>
				<p>I prefer using Windows, but I'm comfortable with modern Linux distributions even if restricted to console access.</p>
				<p>I have a Bachelor degree in Computer Science and specialization in Computer Networks.</p>
			</div>
		</div>
		</div>
	</section>
	<section>

	</section>
	<footer>Gábor Görzsöny</footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.signalR.min.js"></script>
    <script src="js/tilt.jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>