<div class="row justify-content-center">
    <div class="col m-5 text-center reveal">
        <h1>My open source interests</h1>
        <small>(latest starred)</small>
    </div>
</div>
<div class="row">
{{range .GithubStars}}
    <div class="col-md-6 mb-5 text-left reveal">
        <div>[{{.Owner}}] <a href="{{.URL}}">{{.Name}}</a></div>
        <div>{{.Description}}</div>
        <div><ul>
        {{range .Commits}}
            <li><span class="text-danger">[{{.ID}}]</span> {{.Message}} - {{.User}} ({{.Date}})</li>
        {{end}}
        </ul></div>
    </div>
{{end}}
</div>
