<div class="center">
    <div class="row justify-content-center">
        <div class="col mb-5 text-center reveal">
            <h1 class="hello">Hello</h1>
        </div>
    </div>
    <div class="row mb-5 justify-content-center reveal">
        <div class="col-md-6 text-left text-md-right border-right border-danger">
            <h2 class="text-danger">Personal</h2>
            <p>My name is <strong>Gábor</strong>, but you may also know me as <strong>Razzie</strong> from the internets. I'm pretty much comfortable with both names.</p>
            <p>My friends know me as a calm and rather observing kind of person unless someone hits one of my favorite topics as then I'm not afraid to stand for my ideas.
               I enjoy having philosophical and professional discussions. Sharing my knowledge or having greater insight into a certain topic always cheers me up.</p>
            <p>Since my childhood I'm passionate about programming, especially about computer games and networks. I strive to combine the two.</p>
            <p>I love developing ideas over time and then throwing them away later. One always finds me tinkering with my latest and greatest pet project. You may find a few of them below.</p>
            <p>Psychological and emotional well-being along with self-education are crucial to me and I always find time to include them in my life. I've also took part in a 6 month Mastermind program.</p>
            <p>I value freedom and creativity over anything else in life, but comfort comes close.</p>
        </div>
        <div class="col-md-6 text-left border-left border-danger">
            <h2 class="text-danger">Professional</h2>
            <p>For most of my <a href="https://gorzsony.com/resume">career</a> I've been working for large companies and my duties ranged from working on embedded system and desktop application to web frontend and backend development.</p>
            <p>There is also a significant amount of time I've spent working on <a href="https://github.com/razzie/home-projects">private projects at home</a> that was worthy of my time and savings.</p>
            <p>Based on ~11 years of autodidact and professional experience I consider myself an <strong>expert of modern <a href="https://github.com/razzie/librazzie">C++</a></strong>.
               I'm fluent in template metaprogramming as well.</p>
            <p>Other languages and technologies like C, <strong><a href="https://gorzsony.com/tag/csharp">.NET/C#</a> (both desktop apps and web)</strong>, Docker, OpenGL and GLSL, HTML5 and Git are not new to me either.
               I have a newfound interest in <strong><a href="https://gorzsony.com/tag/go">Go</a></strong> language.</p>
            <p>I prefer using Windows as a primary development platform, but I'm comfortable with Linux distributions (Red Hat too) even if restricted to console access.
               In fact this website is running on a Linux VM managed by me (<a href="https://gorzsony.com/tag/web">among many other services</a>).</p>
            <p>I have a Bachelor degree in Computer Science and specialization in Computer Networks.</p>
        </div>
        <img src="img/contact.png" />
    </div>
</div>
