<div class="center p-4">
    <div class="row justify-content-center">
        <div class="col mb-5 text-center reveal">
            <h1 class="hello">Hello</h1>
        </div>
    </div>
    <div class="row mb-5 justify-content-center hello-section">
        <div class="bio col-lg-6 col-md-12 text-left text-lg-right border-right border-danger reveal">
            <h2 class="text-danger">Personal</h2>
            {{- .PersonalHTML }}
        </div>
        <div class="bio col-lg-6 col-md-12 text-left border-left border-danger reveal">
            <h2 class="text-danger">Professional</h2>
            {{- .ProfessionalHTML }}
        </div>
        <div class="col-sm-12 text-center">
            <img class="reveal" src="img/contact.png" />
        </div>
    </div>
</div>
