<div class="center">
    <div class="row justify-content-center">
        <div class="col mb-5 text-center reveal">
            <h1 class="hello">Hello</h1>
        </div>
    </div>
    <div class="row mb-5 justify-content-center reveal">
        <div class="col-md-6 text-left text-md-right border-right border-danger">
            <h2 class="text-danger">Personal</h2>
            {{- .Personal }}
        </div>
        <div class="col-md-6 text-left border-left border-danger">
            <h2 class="text-danger">Professional</h2>
            {{- .Professional }}
        </div>
        <img src="img/contact.png" />
    </div>
</div>
