{{if .}}
    {{$count := len .}}
    {{range $i, $e := .}}
        <section>
            {{if gt $i 0}}
                <div class="scroll-down reveal col-sm-10 col-lg-8 col-xl-6"></div>
            {{end}}
            {{.}}
        </section>
    {{end}}
    {{if gt $count 1}}
        <footer class="text-center reveal col-sm-12">
            <div class="scroll-up"></div>
            <small>Gábor Görzsöny</small>
        </footer>
    {{end}}
{{else}}
<section>
    <div class="center">
        <div class="row justify-content-center">
            <div class="col mb-5 text-center reveal">
                <h1 class="hello">:'(</h1>
            </div>
        </div>
    </div>
</section>
{{end}}