<div class="justify-content-center">
    <div class="m-5 text-center reveal">
    {{ $projCount := len .Projects }}
    {{ if .Tag }}
        <h1>Projects tagged with <span class="text-danger">{{ .Tag }}</span></h1>
    {{ else if eq $projCount 1 }}
        <!--<h1>{{ range .Projects }}{{ .Name }}{{ end }}</h1>-->
    {{ else }}
        <h1>My notable projects</h1>
    {{ end }}
    </div>
</div>
<div class="row m-0 p-4">
{{ range .Projects }}
    <div class="col-xl-4 col-lg-6 col-sm-12 mb-5 text-left reveal project" id="{{ .ID }}">
        <img src="img/{{ .ID }}.png" class="img-fluid" />
        <a href="/project/{{ .ID }}"><h3 class="text-danger">{{ .Name }}</h3></a>
        <p>{{ .DescriptionHTML }}</p>
        {{ range .LinkGroups }}
        <span class="text-secondary">
            {{ .Name }}:<br />
            {{ range .Links }}
            <a href="{{ .URL }}">{{ .Name }}</a><br />
            {{ end }}
        </span><br />
        {{ end }}
        <span class="text-secondary">Year: {{ .Year }}</span><br />
        <span class="text-secondary">
            Tags: {{ range .Tags }}<a href="/tag/{{ . }}">{{ . }}</a> {{ end }}
        </span>
    </div>
{{ end }}
</div>
