<div class="center">
    <div class="col m-4 paper p-4">
        <div class="text-center mb-4"><h1>Gábor Görzsöny</h1></div>
        <div class="text-center mb-4"><h4 class="smallcaps">Write Software: Change the World!</h4></div>
        <div class="text-center mb-4">
            Enthusiastic professional with nearly two decades of software craftsmanship<br />
            practice is eager to join your company as a <strong>senior software engineer</strong>.
        </div>
        <hr />
        <div class="mb-4">
            <h2 class="smallcaps">Competence / skills</h2>
            <ul>
                <li class="mb-2">
                    <strong>C++</strong> — <a href="https://gorzsony.com/tag/cpp">https://gorzsony.com/tag/cpp</a><br />
                    10+ years of professional and autodidact experience as a preferred/primary programming language in a wide range of domains.
                    C++ is generally considered a great foundation to build upon.
                </li>
                <li class="mb-2">
                    <strong>C#</strong> — <a href="https://gorzsony.com/tag/csharp">https://gorzsony.com/tag/csharp</a><br />
                    2 years of experience as an employed desktop app developer and freelance game mod developer (also mentoring).
                </li>
                <li class="mb-2">
                    <strong>Go(lang)</strong> — <a href="https://gorzsony.com/tag/go">https://gorzsony.com/tag/go</a><br />
                    About 18 months of experience as an employed tool and backend developer and implementing the software stack of my
                    private VPS infrastructure.
                </li>
                <li>
                    Also familiar with <strong>Visual Studio</strong>, <strong>VSCode</strong> and <strong>Vim</strong>,
                    build automation using <strong>make</strong>, debugging with <strong>gdb</strong>, container management with
                    <strong>Docker</strong> (and <strong>docker-compose</strong>), HTTP reverse proxy configuration using <strong>Nginx</strong>
                    and comfortable with command line use <strong>git</strong> version/revision control system.
                    Have experience with <strong>Redis</strong>, <strong>MySQL</strong> and <strong>PostgreSQL</strong>.
                    Used multiple project management/tracker tools like <strong>Jira</strong>, <strong>Trello</strong>,
                    <strong>Hansoft</strong> and <strong>YouTrack</strong>. Familier with <strong>Jenkins</strong>.
                    Took part in a one-week <strong>Linux kernel developer</strong> training.
                </li>
            </ul>
        </div>
        <div class="mb-4">
            <h2 class="smallcaps">About me</h2>
            <ul>
                <li>Started programming in elementary school in QBasic — even “borrowed” the compiler and took it home on a floppy</li>
                <li>Learned C++ from a friend in 2008 who specializes in game server development and reverse engineering</li>
                <li>Defeated the Parallel Wizard in 2015 (<a href="https://deadlockempire.github.io/">https://deadlockempire.github.io/</a>)</li>
                <li>Mentored friends and colleagues in C++, C# and Go</li>
                <li>Lifelong admiration of helicopters, airplanes and birds</li>
            </ul>
        </div>
        <div class="mb-4">
            <h2 class="smallcaps">Experience</h2>
            <ul>
                <li class="mb-4">
                    <strong>15+ years of autodidact and professional experience</strong>
                    — <a href="https://github.com/razzie/home-projects">https://github.com/razzie/home-projects</a>
                </li>
                <li class="mb-2">
                    <strong>2020 — backend developer</strong><br />
                    Worked on the software stack of my private VPS infrastructure, mostly implemented in Go.<br />
                    <a href="https://gorzsony.com/tag/web">https://gorzsony.com/tag/web</a>
                </li>
                <li class="mb-2">
                    <strong>2020 — VCC Live — backend developer</strong><br />
                    Worked on a reference implementation of microservice feature flags and benchmarked the memory management of their
                    software telecom switch.
                </li>
                <li class="mb-2">
                    <strong>2019 — freelance game mod developer</strong><br />
                    Worked on multiple private custom made GTA5 (FiveM) mods and a public reference project:
                    <div class="pl-3">
                        <a href="https://github.com/razzie/PocceMod">https://github.com/razzie/PocceMod</a><br />
                        After sharing with the cummunity early on, the project went through 2 months of intensive development
                        (200 commits in the first month and 150 in the second).
                        It was generally well received, and it was the first mod that enabled players to have fun with GTA's unused rope API
                        in a multiplayer environment (since it's not synced by default).
                    </div>
                </li>
                <li class="mb-2">
                    <strong>2017 - 2019 — Ericsson — senior software developer</strong><br />
                    Worked on the packet functions of a microwave network device family.
                    Was an unofficial C++ expert in a 10-person team.
                    Implemented a network protocol together with a teammate based on an RFC document and released weeks before the deadline.
                </li>
                <li class="mb-2">
                    <strong>2016 - 2017 — game developer</strong><br />
                    Worked on a procedural generated 3D indie game tech demo using a home-built game engine. Was part of a coach guided
                    mastermind program during the development, where participants from multiple fields were boosting each other's projects
                    using the combined power of human minds.
                </li>
                <li class="mb-2">
                    <strong>2015 - 2016 — Cognex — software engineer</strong><br />
                    Participated in multiple mainly GUI related projects while working together with the firmware team
                    to resolve compatibility issues.
                    Had minor participation in web backend development and database planning.
                </li>
                <li class="mb-2">
                    <strong>2014 — game developer</strong><br />
                    Worked on an indie game project as part of a two-person team, focusing on game engine development.
                </li>
                <li>
                    <strong>2012 - 2014 — Ericsson — software developer</strong><br />
                    Worked on a flagship router product in a 3-person team.
                    Was responsible for the network management interface which was highly interconnected with all internal modules.
                    Developed an extension protocol based on RFC document.
                    Spent 5 weeks in Beijing to transfer knowledge to the local team.
                </li>
            </ul>
        </div>
        <div class="mb-4">
            <h2 class="smallcaps">Education</h2>
            <ul>
                <li>
                    <strong>2008-2012 (7 semesters without retaking courses) — University of Debrecen</strong><br />
                    Computer Science Engineering, BSc (specialization: Info-Communication Networks)
                </li>
            </ul>
        </div>
    </div>
</div>
