<div class="center">
    <div class="col p-4 paper">
        <div class="text-center mb-4 mt-n4 print-only"><h1>Gábor Görzsöny</h1></div>
        <div class="text-center reveal">{{ .HeaderHTML }}</div>
        <div class="float-right m-0 reveal"><img src="img/contact.png" class="m-0" /></div>
        <hr />
        {{ range .Sections }}
        <div class="mb-4">
            <h2 class="smallcaps reveal">{{ .Title }}</h2>
            <ul>
                {{ range .Items }}
                <li class="{{ if .Title}}mb-2{{ else }}inline{{ end }}{{ if .Faded }} faded{{ end }} reveal">
                    {{ if .Year }}<strong>{{ .Year }}</strong> — {{ end }}
                    {{ if .Company }}<strong>{{ .Company }}</strong> — {{ end }}
                    {{ if .Title }}<strong>{{ .Title }}</strong>{{ end }}
                    {{ if .URL }} — <a href="{{ .URL }}">{{ .URL }}</a>{{ end }}
                    {{ if .Title }}<br />{{ end }}
                    {{ .DescriptionHTML }}
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</div>
