<div class="row justify-content-center">
    <div class="col m-5 text-center reveal">
        <h1>Project timeline</h1>
    </div>
</div>
<div class="row">
    <ul>
        {{range .}}
            <li class="reveal">
                <strong>{{.Year}}</strong>
                <ul class="vertical-list">
                    {{range .Projects}}
                        <li class="reveal"><a href="{{.Link}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
            </li>
        {{end}}
    </ul>
</div>
