{{ define "experience" }}
<div class="timeline">
	<style>@import url("/static/timeline.css");</style>
	<div class="timeline-right">
		<h3>2023 - 2024 | hobbyist software engineer</h3>
		<p>
			Took newfound interest in chess and developed an open source webapp to play with friends:
			<a href="/projects/id/razchess">razchess</a>
			(<a href="https://chess.gorzsony.com" target="_blank">chess.gorzsony.com</a>)
		</p>
		<p>
			Later began working on a data-mining project and developed the necessary tooling and dependencies:
			<a href="/projects/id/broadcaster">broadcaster</a>,
			<a href="/projects/id/commander">commander</a>,
			<a href="/projects/id/razcache">razcache</a>,
			<a href="/projects/id/botkit">botkit</a>,
			<a href="/projects/id/json2go">json2go</a>
		</p>
	</div>
	<div class="timeline-left">
		<h3>2021 - 2022 | Cloudera | senior software engineer</h3>
		<p>
			Took part in a proof-of-concept project, implementing data ingestion for the main workload app and later working on tenant signup and resource pooling. Earned <strong>Commitment Award</strong> for prioritizing and achieving data driven results.<br>
			Later worked with one of the international data warehouse teams and got my hands dirty with the CI pipeline as well.
		</p>
	</div>
	<div class="timeline-right">
		<h3>2020 | hobbyist software engineer</h3>
		<p>
			Worked on my own self-hosted open source software stack for fun, implementing most of them in Go:
			<a href="/projects/id/razvhost">razvhost</a>,
			<a href="/projects/id/razbox">razbox</a>,
			<a href="/projects/id/razproxy">razproxy</a>,
			<a href="/projects/id/geoip">geoip-server</a>,
			<a href="/projects/id/mediaserver">mediaserver</a>,
			<a href="/projects/id/beepboop">beepboop</a>
		</p>
	</div>
	<div class="timeline-left">
		<h3>2020 | VCC Live | backend developer</h3>
		<p>
			Worked on a reference implementation of microservice feature flags and benchmarked the memory management of our software telecom switch.
		</p>
	</div>
	<div class="timeline-right">
		<h3>2019 | freelance game mod developer</h3>
		<p>
			Worked on multiple private custom made GTA5 (FiveM) mods and one public reference project:
			<blockquote>
				<h4><a href="/projects/id/PocceMod" class="secondary">PocceMod</a></h4>
				After sharing with the community early on, the project went through 2 months of intensive development (200 commits in the first month and 150 in the second).
				It was generally well received, and it was the first mod that enabled players to have fun with GTA's unused rope API in a multiplayer environment.
			</blockquote>
		</p>
	</div>
	<div class="timeline-left">
		<h3>2017 - 2019 | Ericsson | senior software developer</h3>
		<p>
			Worked on the packet functions of a microwave network device family.
			Was an unofficial C++ expert in a 10-person team.
			Implemented a network protocol together with a teammate based on an RFC document and released weeks before the deadline.
		</p>
	</div>
	<div class="timeline-right">
		<h3>2016 - 2017 | hobbyist game developer</h3>
		<p>
			Worked on a procedural generated 3D indie game tech demo using a home-built game engine,
			while being a part of a coach guided mastermind program.
		</p>
	</div>
	<div class="timeline-left">
		<h3>2015 - 2016 | Cognex | software engineer</h3>
		<p>
			Participated in multiple mainly GUI related projects while working together with the firmware team to resolve compatibility issues.
			Took part in greenfield web backend development and database design, while also working on internal tools and experiments to assist my team.
		</p>
	</div>
	<div class="timeline-right">
		<h3>2014 | hobbyist game developer</h3>
		<p>
			Worked on an indie game project as part of a two-person team, focusing on game engine development.
		</p>
	</div>
	<div class="timeline-left">
		<h3>2012 - 2014 | Ericsson | software developer</h3>
		<p>
			Worked on a flagship router product in a 3-person team.
			Was responsible for the network management interface which was highly interconnected with all internal modules.
			Developed an extension protocol based on RFC document.
			Spent 5 weeks in Beijing to transfer knowledge to the local team.
		</p>
	</div>
</div>
{{ end }}