{{ define "experience" }}
<div class="timeline">
	<style scoped>@import url("/static/timeline.css");</style>
	<div class="timeline-right">
		<h3>2023 - 2024 | sabbatical leave</h3>
		<p>
			Had a long mental list of projects I could attend to, including an online chess game
			(<a href="/projects/id/razchess">razchess</a>, <a href="https://chess.gorzsony.com" target="_blank">chess.gorzsony.com</a>)
			and many tools and libraries I now rely on:
			<a href="/projects/id/broadcaster">broadcaster</a>,
			<a href="/projects/id/commander">commander</a>,
			<a href="/projects/id/razcache">razcache</a>,
			<a href="/projects/id/botkit">botkit</a>,
			<a href="/projects/id/json2go">json2go</a>
		</p>
		<p>
			Currently working on a custom cloud platform for personal use.
		</p>
	</div>
	<div class="timeline-left">
		<h3>2021 - 2022 | Cloudera | senior software engineer</h3>
		<p>
			Took part in a proof-of-concept project, implementing data ingestion for the main workload app and later working on tenant signup and resource pooling. Earned <strong>Commitment Award</strong> for prioritizing and achieving data driven results.<br>
			Later worked with one of the international data warehouse teams and got my hands dirty with the CI pipeline as well.
		</p>
	</div>
	<div class="timeline-right">
		<h3>2020 | sabbatical leave</h3>
		<p>
			Worked on my own self-hosted open source software stack for fun, implementing most of them in Go:
			<a href="/projects/id/razvhost">razvhost</a>,
			<a href="/projects/id/razbox">razbox</a>,
			<a href="/projects/id/razproxy">razproxy</a>,
			<a href="/projects/id/geoip">geoip-server</a>,
			<a href="/projects/id/mediaserver">mediaserver</a>,
			<a href="/projects/id/beepboop">beepboop</a>
		</p>
	</div>
	<div class="timeline-left">
		<h3>2020 | VCC Live | backend developer</h3>
		<p>
			Worked on a reference implementation of microservice feature flags and benchmarked the memory management of our software telecom switch.
		</p>
	</div>
	<div class="timeline-right">
		<h3>2019 | sabbatical leave | <a href="/projects/id/poccemod">PocceMod</a></h3>
		<p>
			Created the first GTA5 (FiveM) game mod that allowed players to have fun with GTA's unused and undocumented rope API in a multiplayer environment.
			After sharing it with the community early on to receive feedback, the mod went through 2 months of intensive development, adding many of the requested features and changes.
			The project quickly gained popularity due to its uniqueness and led to community members requesting my services.
		</p>
	</div>
	<div class="timeline-left">
		<h3>2017 - 2019 | Ericsson | senior software developer</h3>
		<p>
			Worked on the packet functions of a microwave network device family.
			Was an unofficial C++ expert in a 10-person team.
			Implemented a network protocol together with a teammate based on an RFC document and released weeks before the deadline.
		</p>
	</div>
	<div class="timeline-right">
		<h3>2017 | sabbatical leave | <a href="/projects/id/potato_game">Potato Game</a></h3>
		<p>
			Wanted to try something out of the box and build a tech demo of a completely procedurally generated abstract looking 3D game world.
			During the development I've been a part of a coach guided mastermind program, where participants could follow the progress of graphical designs
			and world map and level generator algorithms.
			At the end of the mastermind program I had the chance to publicly talk about the project in front of an audience,
			where one person told me I inspired him to learn programming. This has been one of my proudest moments in life.
		</p>
	</div>
	<div class="timeline-left">
		<h3>2015 - 2016 | Cognex | software engineer</h3>
		<p>
			Participated in multiple mainly GUI related projects while working together with the firmware team to resolve compatibility issues.
			Took part in greenfield web backend development and database design, while also working on internal tools and experiments to assist my team.
		</p>
	</div>
	<div class="timeline-right">
		<h3>2014 | sabbatical leave | <a href="/projects/id/prepi">Prepi</a></h3>
		<p>
			Worked on an indie rage game project as part of a two-person team, focusing on game engine development.
			It has been a serious project requiring both of our full-time commitment.
			Having zero clue about sales and with the mindset of "great products sell themselves" we tried to finance the project via an Indiegogo campaign,
			which failed (though the game received Steam GreenLight later).
			Due to the failure of the campaign and smaller disagreements regarding the game design we decided not to continue the development.
		</p>
	</div>
	<div class="timeline-left">
		<h3>2012 - 2014 | Ericsson | software developer</h3>
		<p>
			Worked on a flagship router product in a 3-person team.
			Was responsible for the network management interface which was highly interconnected with all internal modules.
			Developed an extension protocol based on RFC document.
			Spent 5 weeks in Beijing to transfer knowledge to the local team.
		</p>
	</div>
</div>
{{ end }}