{{ define "hello" }}
<div>
	<div id="hello">
		<style scoped>
			@media screen and (min-width: 768px) {
				#hello {
					columns: 2;
					column-gap: 1rem;
				}
			}
		</style>
		<p>
			My name is <strong>Gábor Görzsöny</strong>, but you might also know me as <strong>Razzie</strong> from my online presence.
			With a strong foundation in software engineering,
			I bring over 7 years of formal experience across multiple sectors and programming languages, which doubles when including hobby projects.
			I am confident that I can deliver valuable solutions for you, your business partners and customers.
		</p>
		<p>
			My career began with a fascination for video games, which spurred me to self-learn coding from a young age.
			This journey has evolved significantly, steering me towards learning industry-standard techniques and cutting-edge technologies.
		</p>
		<p>
			In addition to my professional work, I am an avid hobbyist developer.
			I enjoy working on open-source projects, many of which are self-hosted.
			My recent ventures include developing a cloud platform and a range of Go-based software tools.
		</p>
		<p>
			I am deeply passionate about continuous learning and knowledge sharing.
			My friends and colleagues know me as someone who thrives on engaging in philosophical and technical discussions.
			Creativity and curiosity are the cornerstones of my work ethic, driving me to explore and innovate constantly.
		</p>
		<p>
			In my opinion, the greatest achievements in human history have resulted from collaborative efforts spearheaded by visionary leaders.
			My aspiration is to become one of these key individuals.
		</p>
		<p>
			I am currently open to full remote positions, with a strong preference for roles focused on Golang and cloud development.
			If my <a href="/skills">skills</a> and <a href="/experience">experiences</a> align with your needs, please feel free to reach out to me via email at <span id="email"></span>.
			I look forward to potential collaborations that challenge and inspire me.
		</p>
	</div>
</div>
{{ end }}