{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Gábor Görzsöny's personal website">
    <title>{{ .Title }}</title>
	<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">-->
	<link rel="stylesheet" href="/static/pico.min.css">
	<link rel="icon" href="/static/favicon.png" type="image/png">
	<!--<script src="https://unpkg.com/htmx.org@2.0.0" defer></script>-->
	<script src="/static/htmx.min.js" defer></script>
	<!--<script src="https://unpkg.com/htmx-ext-loading-states@2.0.0/loading-states.js" defer></script>-->
	<script src="/static/loading-states.min.js" defer></script>
	<script src="/static/email.js" defer></script>
</head>
<body hx-boost="true" hx-ext="loading-states">
	<main class="container">
		<nav>
			<ul>
				<li><h1 data-loading-aria-busy data-loading-delay="250">{{ .Title }}</h1></li>
			</ul>
			<ul>
			{{ $pageID := .PageID }}
			{{ range .Nav }}
				<li><a href="/{{ .ID }}"{{ if eq .ID $pageID }} aria-current="page"{{ end }}>{{ .Name }}</a></li>
			{{ end }}
			</ul>
		</nav>
		{{ CallTemplate .PageID .Data }}
	</main>
</body>
</html>
{{ end }}