{{ define "project" }}
<article id="{{ .ID }}">
	<header><a href="/projects/id/{{ .ID }}" class="secondary">{{ .Name }}</a></header>
	<div class="grid">
		<div>
			<img src="/static/projects/{{ .ID }}.webp" alt="Thumbnail of {{ .Name }}" width="256">
		</div>
		<div>
			{{ range .LinkGroups }}
			<p>
				{{ .Name }}:<br>
				{{ range .Links }}
				<a href="{{ .URL }}" target="_blank">{{ .Name }}</a><br>
				{{ end }}
			</p>
			{{ end }}
			<p>Year: {{ .Year }}</p>
			<span>
				Tags:
				{{ range .Tags }}
				<code><a href="/projects/tag/{{ . }}" class="secondary">{{ . }}</a></code>
				{{ end }}
			</span>
		</div>
	</div>
	<footer>
		<p>{{ .DescriptionHTML }}</p>
	</footer>
</article>
{{ end }}