{{ define "projects" }}
{{ if .Tags }}
<details open>
	<summary>Tags</summary>
	<p>
		{{ $tag := .Tag }}
		{{ range .Tags }}
		<code style="margin-bottom: 0.25rem;">
			{{ if eq . $tag }}
			<a href="/projects" class="secondary"><del>{{ . }}</del></a>
			{{ else }}
			<a href="/projects/tag/{{ . }}" class="secondary">{{ . }}</a>
			{{ end }}
		</code>
		{{ end }}
	</p>
</details>
{{ end }}
<div class="project-grid">
	<style scoped>
	.project-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
		align-items: start;
	}
	@media screen and (max-width: 768px) {
		.project-grid {
			grid-template-columns: 1fr;
		}
	}
	</style>
	{{ range .Projects }}
		{{ template "project" . }}
	{{ end }}
</div>
{{ end }}