{{ define "skills" }}
<div class="grid">
	<div>
		<ul>
			<li><p>
				<strong>Go</strong> has been my preferred programming language <strong>since 2019</strong>.
				Used it both in production and in dozens of my projects on <a href="https://github.com/razzie?tab=repositories&language=go" target="_blank">Github</a>.
				Read <a href="https://go.dev/doc/effective_go" target="_blank">Effective Go</a>, <a href="https://tip.golang.org/doc/gc-guide" target="_blank">A Guide to the Go Garbage Collector</a> by the Go authors
				and <a href="https://www.oreilly.com/library/view/efficient-go/9781098105709/" target="_blank">Efficient Go</a> by Bartlomiej Plotka.
			</p></li>
			<li><p>
				Strong <strong>C++</strong> background of ~10 years.
				Considered an expert by my colleagues who asked for my <strong>mentorship</strong>.<br>
				Also worked on <strong>C#/.NET</strong>, <strong>Java</strong> and <strong>Python</strong> projects.
			</p></li>
			<li><p>
				<strong>HTML5</strong>, <strong>CSS</strong> (and <strong>Tailwind</strong>), <strong>JavaScript</strong> and minor experience with extending <strong>React</strong> components.
				I can set up web tools for you using <strong>Go</strong> and <strong>htmx</strong> in no time.
			</p></li>
			<li><p>
				<strong>Docker</strong> and <strong>docker-compose</strong>, both in production and as a hobby.
				Even <strong>mentored</strong> colleagues with higher job roles.
			</p></li>
		</ul>
	</div>
	<div>
		<ul>
			<li><p>
				<strong>Kubernetes</strong> in production combined with <strong>Istio</strong> service-mesh and <strong>Nginx</strong> or <strong>Traefik</strong> ingress controllers.
				Used <strong>Helm</strong> and <strong>Helmfile</strong> (+ in-house tools) to deploy resources.
				<br>
				Experimented with <strong>OperatorSDK/Kubebuilder</strong>.
			</p></li>
			<li><p>
				<strong>AWS</strong>: EC2, EBS, EFS, S3, ELB (ALB + NLB), Route53
			</p></li>
			<li><p>
				Other technologies: <strong>PostgreSQL</strong> (with and without <strong>ORM</strong>s), <strong>Redis</strong>, <strong>Temporal</strong> (fork of <strong>Cadence</strong>),
				<strong>Protobuf/gRPC</strong>, <strong>websockets</strong>, <strong>server sent events</strong>, <strong>OpenGL + GLSL</strong>
			</p></li>
			<li><p>
				Years of experience <strong>troubleshooting</strong> embedded and remotely executed software <strong>without debuggers</strong> and with limited information.
			</p></li>
			<li><p>
				Defeated the Parallel Wizard in 2016 (<a href="https://deadlockempire.github.io/" target="_blank">deadlockempire.github.io</a>)
			</p></li>
		</ul>
	</div>
</div>
{{ end }}