{{ define "skills" }}
<div class="grid">
	<div>
		<ul>
			<li>
				<p>
					<strong>Go</strong> has been my preferred programming language <strong>since 2019</strong>.
					Used it both in production and in dozens of my projects on <a href="https://github.com/razzie?tab=repositories&language=go" target="_blank">Github</a>.
					Read <a href="https://go.dev/doc/effective_go" target="_blank">Effective Go</a>, <a href="https://tip.golang.org/doc/gc-guide" target="_blank">A Guide to the Go Garbage Collector</a> by the Go authors
					and <a href="https://www.oreilly.com/library/view/efficient-go/9781098105709/" target="_blank">Efficient Go</a> by Bartlomiej Plotka.
				</p>
			</li>
			<li>
				<p>
					Strong <strong>C++</strong> background of ~10 years.
					Considered an expert by my colleagues who asked for my <strong>mentorship</strong>.<br>
					Also worked on <strong>C#/.NET</strong>, <strong>Java</strong> and <strong>Python</strong> projects.
				</p>
			</li>
			<li>
				<p>
					<strong>HTML5</strong>, <strong>CSS</strong> (+ <strong>Tailwind</strong>), <strong>JavaScript</strong>
					+ seen and worked with <strong>React</strong>.
					Rapid prototyping using <strong>htmx</strong>.
				</p>
			</li>
			<li>
				<p>
					APIs: versioned <strong>RESTful APIs</strong> using Gin/Chi/Echo/stdlib,
					<strong>Swagger</strong>, <strong>OpenAPI</strong>, <strong>gRPC/Protobuf</strong>,
					<strong>websocket</strong> (+ <strong>JSON-RPC</strong>)
				</p>
			</li>
			<li>
				<p>
					SQL/noSQL: <strong>Postgres</strong>, <strong>Redis</strong> and <strong>MongoDB</strong>.
					Used multiple <strong>ORM</strong>s and implemented <strong>migrations</strong>.
				</p>
			</li>
		</ul>
	</div>
	<div>
		<ul>
			<li>
				<p>
					<strong>AWS</strong>: EC2, EBS, EFS, S3, ELB (ALB + NLB), Route53
				</p>
			</li>
			<li>
				<p>
					<strong>Docker</strong> and <strong>docker-compose</strong>, both in production and as a hobby.
					Even <strong>mentored</strong> colleagues with higher job roles.
				</p>
			</li>
			<li>
				<p>
					<strong>Kubernetes</strong> in production combined with <strong>Istio</strong> service-mesh and <strong>Nginx</strong> or <strong>Traefik</strong> ingress controllers.
					Experimented with <strong>OperatorSDK/Kubebuilder</strong>.
				</p>
			</li>
			<li>
				<p>
					IAC: <strong>Helm</strong>/Helmfile, some <strong>Terraform</strong> and in-house tools.
				</p>
			</li>
			<li>
				<p>
					Messaging/streams: aware of <strong>Kafka</strong>, <strong>RabbitMQ</strong> and <strong>Redis Pub/Sub</strong> use-cases
				</p>
			</li>
			<li>
				<p>
					Logging/metrics: <strong>Fluentd</strong>, <strong>Prometheus</strong>, <strong>Grafana</strong>, <strong>Kibana</strong>.
					Fan of structured logging and health-checks.
				</p>
			</li>
			<li>
				<p>
					Defeated the Parallel Wizard (<a href="https://deadlockempire.github.io/" target="_blank">deadlockempire.github.io</a>)
				</p>
			</li>
		</ul>
	</div>
</div>
{{ end }}